* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 90px; /* site-header の高さ分 */
  font-family: "Noto Sans JP", sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zen Maru Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
